# 일급함수와 고차함수

## 일급함수

---
* 함수를 일급객체(값, 주소)로 취급

In [ ]:
class Cat:
    def sound(self):
        print('야옹')

licat = Cat()
licat_sound = licat.sound
licat_sound() # licat.sound()

야옹

In [ ]:
l = [10, 20, 30]
la = l.append
la(40) # l.append
l

[10, 20, 30, 40]

In [ ]:
def add(x, y):
    return x + y

In [ ]:
add = 100

In [ ]:
def add(x, y):
    return x + y

def sub(x, y):
    return x - y

funcs = [add, subtract]
print(funcs[0](2, 3))  # 출력: 5

5

In [ ]:
class Operator:
    def add(self, x, y):
        return x + y

    def sub(self, x, y):
        return x - y

    def mul(self, x, y):
        return x * y

    def div(self, x, y):
        return x / y

    def _and(self, x, y):
        pass

    def _or(self, x, y):
        pass

op = Operator()
logical_op = {
    'add': op.add,
    'sub': op.sub,
    'mul': op.mul,
    'div': op.div,
}
arithmetic_op = {
    '_and': op._and,
    '_or': op._or,
}

print(logical_op['add'](2, 3)) # 출력: 5
print(op.add(2, 3)) # 출력: 5

for _, f in logical_op.items():
    print(f(2, 3)) # 4칙연산 모두 계산

5
5
5
-1
6
0.6666666666666666

In [ ]:
# JavaScript (callback function)
# l = [10, 20, 30]
# l = l.map(((v)=>v**2)) // [100, 400, 900]

In [ ]:
def licat_sound(p):
    x = 10
    y = 10
    z = 10
    p('냐옹')

licat_sound(print) # licat_sound안에 built-in function인 print를 넣었다

In [ ]:
def square(x):
    return x ** 2

def width_circle(r, s):
    return s(r) *3.14

width_circle(10, square)

314.0

In [ ]:
# 함수를 결과로 반환!
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_5 = create_adder(5)
print(add_5(10))  # 출력: 15

15

In [ ]:
# 많이 사용되는 기법 변수를 상수화 하여 그나마 보안성을 올리는 방법 (그러나 비공개는 아니다.)
def create_exponent(x):
    def exponent(y):
        return y ** x
    return exponent

exponent_2 = create_exponent(2) # exponent와 같다
exponent_3 = create_exponent(3) # exponent와 같다
print(exponent_2(10))
# 출력: 100 # print(exponent(10)) => return y ** 2 (2가 상수 취급되어 변경되지 않는다.)
print(exponent_3(10))
# 출력: 1000 # print(exponent(10)) => return y ** 3 (3가 상수 취급되어 변경되지 않는다.)

# 변수를 감추는 방법이다??
# 그런건 아니다 exponent_2와 같은 변수가 조작이 되어 create_exponent의 변수조작과 같기 때문에 변수를 감추는것 처럼 보이지만 사실상 감추는게 아니다.

100
1000

In [ ]:
def f():
    l = [10, 20, 30]
    print(id(l))
    return l

sample = f()
id(sample) # 주소가 같다?
# 함수가 끝나면 안에 변수들이 다 휘발 되는건데? 왜 같을까?

136500598252864

136500598252864

In [ ]:
import sys

def ff():
    l = [10, 20, 30]
    return l

sample_ = ff()
sys.getrefcount(sample_) # window, mac. linux의 출력값이 다르다.

# 중요한 포인트는 getrefcount의 작동원리가 아니라 함수가 종료되도 참조 변수값이 사라지지 않는다가 포인트

2

In [ ]:
import sys
sys.getrefcount(sample_) # 이러게 해도 출력값이 다르다 그래서 논란의 여지가 많다.

3

[sys](https://program-error-review.tistory.com/70) 참조 <br>
[메모리](https://devloper-dreaming.tistory.com/50) 참조

## 고차 함수
---
* 함수를 아규먼트로 받거나 return 값으로 반환할 수 있는 함수

In [ ]:
# 함수를 아규먼트로 전달

def apply_function(func, x):
    return func(x)

def square(x):
    return x * x

def cube(x):
    return x * x * x

# 사용 예:
result = apply_function(square, 5)
print(result)  # 출력: 25

result = apply_function(cube, 5)
print(result)  # 출력: 125

In [ ]:
# 함수를 반환값으로 사용

def get_math_function(operation):
    """지정된 연산을 수행하는 함수를 반환합니다."""

    def add(x, y):
        """x와 y의 합을 반환합니다."""
        return x + y

    def sub(x, y):
        """x에서 y를 뺀 값을 반환합니다."""
        return x - y

    def mul(x, y):
        """x와 y의 곱을 반환합니다."""
        return x * y

    if operation == 'add':
        return add
    elif operation == 'sub':
        return sub
    elif operation == 'mul':
        return mul

# 사용 예:
# get_math_function 함수에 'add' 문자열을 전달하여 add 함수를 얻습니다.
add_func = get_math_function('add')
result = add_func(5, 3)  # add 함수에 5와 3을 전달하여 결과를 얻습니다.
print(result)  # 출력: 8

# 연습문제

## 피타고라스 문제
---

![다운로드 (2).png]()
---
* 이 함수를 이용하여 만들어라
---
* def length(a, b, square, root):<br>
    pass

In [ ]:
# 문제
def square(s):
        return s ** 2

def root(r):
        return r ** 0.5

def length(a, b, s, r):
        return r(s(a) + s(b))

length(6, 8, square, root)

10.0

In [ ]:
# 풀이
def find_hypotenuse(a, b, s, r):
    return r(s(a) + s(b))

def square(value):
    return value ** 2

def root(value):
    return value ** 0.5

find_hypotenuse(6, 8, square, root)

10.0

# 클로저

---
* 휘발되었어야 할 데이터를 메모리 영역에 접근하여 함수나 데이터로 활용하는 것

In [ ]:
# 고차함수이며, 일반적인 클로저의 형태는 아니다.
# 보통 클로저는 outer_function에 은닉할 값을 매개변수로 넘긴다.
def outer_function():
    def inner_function():
        return 100+100
    return inner_function

# 클로저인 경우
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

inner = outer_function(100)

# def inner(y):
#     return 100 + y
# inner(200)

inner(200) # inner 입장에서 100을 변경할 수 있는 방법이 없습니다.

# 데코레이터

In [ ]:
# 이런 식으로 사용
# login한 사용자만 게시판 읽게 한다.
# 그러면 내가 login을 구현해야 하는가?
# Django와 같은 프레임웤은 필요한 데코레이터는 미리 구현되어 있다.
def login(arg):
    pass

@login
def 게시판읽기():
    pass

In [ ]:
def simple_decorator(function):
    def wrapper():
        print("Before the function call")
        function()
        print("After the function call")
    return wrapper

@simple_decorator
def hello():
    print("Hello, World!")

hello() # 데코레이터가 없는 상태에서는 simple_decorator(hello)() 와 같습니다.

# hello()만 해도 imple_decorator에 hello를 아규먼트로 넣어주고 실행하겠다!

Before the function call
Hello, World!
After the function call

In [ ]:
def simple_decorator(function):
    def wrapper():
        print("Before the function call")
        function()
        print("After the function call")
    return wrapper

def hello():
    print("Hello, World!")

simple_decorator(hello)() #  simple_decorator(hello) => wrapper
# simple_decorator(hello)() => wrapper()

Before the function call
Hello, World!
After the function call

In [ ]:
# step 1
def data_Preprocessing(function):
    def wrapper():
        pass
    return wrapper

@data_Preprocessing
def mean(data): # mean에 function 전달
    return sum(data)/len(data)

mean([1, 2, '3', 4, '5']) # TypeError 발생

In [ ]:
# step 2
def data_Preprocessing(function):
    def wrapper(data):
        print(data)
    return wrapper

@data_Preprocessing
def mean(data): # data_Preprocessing에 아규먼트가 되어 wrapper()의 함수를 실행하는거다.
    return sum(data)/len(data)

mean([1, 2, '3', 4, '5']) # 데이터만 출력하고 함수는 None을 반환

[1, 2, '3', 4, '5']

In [ ]:
# step 3
def data_Preprocessing(function):
    def wrapper(data):
        return function(list(map(int, data)))
    return wrapper

@data_Preprocessing
def mean(data):
    return sum(data)/len(data)

mean([1, 2, '3', 4, '5']) # 출력: 3.0 (정상 작동) # 데코레이터가 붙으면 mean을 실행하는게 아니다
# data_Preprocessing(mean) => wrapper
# data_Preprocessing(mean)([1, 2, '3', 4, '5']) => wrapper ([1, 2, '3', 4, '5'])
# data_Preprocessing(mean)() = wrapper()

# 실행 과정
# mean([1, 2, 3, 4, 5])이 실행되면,
# data_Preprocessing(mean 함수 주소) 실행> wrapper 함수 주소 반환?>
# wrapper([1, 2, 3, 4, 5]) 실행 > 만약 wrapper 안에 function이 있다면
# data_Preprocessing의 아규먼트로 받은 함수 주소의 함수를 사용(여기선 mean 함수)

3.0

In [ ]:
def data_Preprocessing(function):
    def wrapper(a, b, c):
        print(a, b, c)
        print(function([a, b, c]))
    return wrapper

@data_Preprocessing
def mean(data):
    return sum(data)/len(data)

mean(1, 2, 3) # 왜 오류가 없을까요? data인자가 하나고, 10, 20, 30인자가 3개인데요?

1 2 3
2.0

---

In [ ]:
def outer(function):
    def wrapper():
        function()
        # print(function([a, b, c]))
    return wrapper

@outer
def a():
    def b():
        pass
    return b

print(a())

None

In [ ]:
# b를 실행하고 싶은데 어떻게 해야 하는가?
def outer(function):
    def wrapper():
        function()()
        return
        # print(function([a, b, c]))
    return wrapper

@outer
def a():
    def b():
        print('g')
    return b

print(a())

g
None

## 실무에서 안보지만 궁금한 예시

### 중첩 데코레이터

In [ ]:
# 데코레이터에 데코레이터

def add_exclamation(function):
    def wrapper(text):
        print(f'add_exclamation 데코레이터 시작')
        result = function(text) + "!"
        print(f'add_exclamation 데코레이터 종료')
        return result
    return wrapper

def add_question_mark(function):
    def wrapper(text):
        print(f'add_question_mark 데코레이터 시작')
        result = function(text) + "?"
        print(f'add_question_mark 데코레이터 종료')
        return result
    return wrapper

def add_dot(function):
    def wrapper(text):
        print(f'add_dot 데코레이터 시작')
        result = function(text) + "."
        print(f'add_dot 데코레이터 종료')
        return result
    return wrapper

@add_exclamation
@add_question_mark
@add_dot
def greet(message):
    print('함수실행')
    return message

result = greet("Hello")
print(result)  # 출력: "Hello.!?"

add_exclamation 데코레이터 시작
add_question_mark 데코레이터 시작
add_dot 데코레이터 시작
함수실행
add_dot 데코레이터 종료
add_question_mark 데코레이터 종료
add_exclamation 데코레이터 종료
Hello.?!

### 동적 데코레이터

In [ ]:
def add(n): # 데코레이터를 감싸는 하나의 함수를 더 만들어서 아규먼트를 받는 방식
    def decorator(function): # 여기서부터의 기능은 같다
        def new_function(a, b):
            print(f'plus 함수가 {n}만큼 증가시키는 데코레이터가 시작됩니다.')
            result = function(a, b)
            print(result)
            print(f'plus 함수가 {n}만큼 증가시키는 데코레이터가 종료됩니다.')
            return result + n
        return new_function
    return decorator

@add(1000)
def plus(a, b):
    print('plus 함수가 호출되었습니다.')
    return a + b

result = plus(10, 20)
print(f'result : {result}')

plus 함수가 1000만큼 증가시키는 데코레이터가 시작됩니다.
plus 함수가 호출되었습니다.
30
plus 함수가 1000만큼 증가시키는 데코레이터가 종료됩니다.
result : 1030

In [ ]:
# plus(10, 20) == add(n)(plus)(10,20)

def plus(a, b):
    print('plus 함수가 호출되었습니다.')
    return a + b

def add(n):
    def decorator(function):
        def new_function(a, b):
            print(f'plus 함수가 {n}만큼 증가시키는 데코레이터가 시작됩니다.')
            result = function(a, b)
            print(result)
            print(f'plus 함수가 {n}만큼 증가시키는 데코레이터가 종료됩니다.')
            return result + n
        return new_function
    return decorator

# add(n)(plus)(10,20), add(1000) == decorator
# decorator(plus)(10,20), decorator(plus) == new_function
# new_function(10,20)

# decorator(plus(10, 20))() (X)
# add(1000)(plus)(10, 20)() (X)
# add(1000)(plus)(10, 20)()

In [ ]:
def plus(a, b):
    print('plus 함수가 호출되었습니다.')
    return a + b

def add(n):
    def decorator(f):
        def wrapper(a, b):
            print(f'plus 함수가 {n}만큼 증가시키는 데코레이터가 시작됩니다.')
            result = f(a, b)
            print(result)
            print(f'plus 함수가 {n}만큼 증가시키는 데코레이터가 종료됩니다.')
            return result + n
        return wrapper
    return decorator

# d = add(1000)
# w = d(plus)
# w(10, 20)

add(1000)(plus)(10, 20)

### 클래스형 데코레이터

In [ ]:
class Debug:
    def __init__(self, function):
        self.function = function

    def __call__(self):
        print(f'{self.function.__name__} 함수 시작')
        result = self.function()  # 인자 없이 원래 함수 호출
        print(f'{self.function.__name__} 함수 끝')
        return result  # 함수의 결과를 반환

@Debug
def f1():
    print('안녕하세요')

@Debug
def f2():
    print('hello')

f1()
f2()

f1 함수 시작
안녕하세요
f1 함수 끝
f2 함수 시작
hello
f2 함수 끝

In [ ]:
def f():
    pass
type(f) # 출력 ㅣ <class 'function'>
dir(f) # 출력 ['__annotations__', '__call__', '__class__', ... ]

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
@Debug
def f1():
    print('안녕하세요')

In [ ]:
f1 = Debug(f1)

# f1이 함수에서 Debug 클래스 객체로 바뀌는 것입니다. 이제 f1을 호출할 때 함수를 호출하는 것이 아닌 Debug 클래스 객체를 호출

# 람다함수, 익명함수 lambda
---
* 일회성 함수 즉 재사용되지 않는 함수로써 사용
* 람다함수는 일반함수에 비해 디버깅이 어렵다.

In [ ]:
square = lambda x: x*x
print(square(5))  # 출력: 25

25

In [ ]:
# 재사용 되는 함수코드
def 제곱(x):
    return x ** 2

list(map(제곱, [1, 2, 3])) + list(map(제곱, [4, 5, 6]))

[1, 4, 9, 16, 25, 36]

In [ ]:
# 재사용 되지 않는 함수코드(람다)

list(map(lambda x:x**2, [1, 2, 3]))

[1, 4, 9]

In [ ]:
# 이런식은 오늘 보고 평생 볼일 없는 예시
result = lambda x : x ** 2
print(result(3))

result = (lambda x : x ** 2)(3)
print(result)  # 출력: 9

9
9

# args, kwargs

In [ ]:
a, b, *c = 10, 20, 30, 40, 50
print(*c)

30 40 50

In [ ]:
def print_args(*args):
    print(args)
    for x in args:
        print(x)

print_args(100, True, 'Licat')

(100, True, 'Licat')
100
True
Licat

In [ ]:
def print_args(a, b, *args, c): # *args뒤에 일반 변수를 선언하지 못합니다.
    print(args)
    for x in args:
        print(x)

print_args(100, True, 'Licat', 'hello', 10)

TypeError: ignored

In [ ]:
def print_args(a, b, *args, *c): # *args뒤에 또다른 가변 아규먼트를 넣지 못합니다.
    print(args)
    for x in args:
        print(x)

print_args(100, True, 'Licat', 'hello', 10)

SyntaxError: ignored

In [ ]:
def print_kwargs(a, **kwargs):
    print(a)
    print(kwargs)
    # 1코드가 길때 name 찍을때 찾기 힘듬
    for i in kwargs:
        print(i)

print_kwargs(100, name='Licat', age='10')

100
{'name': 'Licat', 'age': '10'}
name
age

In [ ]:
def print_kwargs(*kwargs): # *kwargs는 *args로 봐야 한다. 속임수, 관습에도 어긋난 코드
    print(kwargs)
    for i in kwargs:
        print(i)

value = {'one':10, 'two':20}
print_kwargs(*value)

('one', 'two')
one
two

In [ ]:
def print_kwargs(**kwargs): # 제대로 들어간거임
    print(kwargs)
    for i in kwargs:
        print(i)

value = {'one':10, 'two':20}
print_kwargs(**value)

{'one': 10, 'two': 20}
one
two

In [ ]:
def args(*args):
    print(args)
    for i in args:
        print(i)

value = {'one':10, 'two':20}
args(*value)

('one', 'two')
one
two

### 강제 키워드 인자

In [ ]:
def func(a, b, *, c, d): # * 뒤에 있는 파라미터는 무조건 값을 설정해줘야 한다.
    print(a, b, c, d)

func(1, 2, c=3, d=4)  # 올바른 예시
# func(1, 2, c, d=4)  # 잘못된 예시
# func(1, 2, 3, 4)    # 잘못된 예시

### 딕셔너리 언패킹
---
* *args는 리스트를 묶고 풀고하는 용도로 사용
* **kargs는 딕셔너리를 묶고 풀고하는 용도로 사용

In [ ]:
def func(a, b, c):
    print(a, b, c)

args = (1, 2, 3)
func(*args)
print(args, *args)

kwargs = {'a': 1, 'b': 2, 'c': 3}
func(**kwargs)
print(kwargs, *kwargs)
#print(kwargs, **kwargs) # error

1 2 3
(1, 2, 3) 1 2 3
1 2 3
{'a': 1, 'b': 2, 'c': 3} a b c

In [ ]:
kwargs = {'a': 1, 'b': 2, 'c': 3}
print(kwargs, *kwargs)
# print(kwargs, **kwargs) # 왜 에스터리스크가 2개일 때 error날까?
# print(kwargs, a=1, b=2, c=3) # 이 코드가 바로 위의 코드와 같다.

{'a': 1, 'b': 2, 'c': 3} a b c

In [ ]:
def func(d=100, c=200, b=300, a=400):
    print(d, c, b, a)
kwargs = {'a': 1, 'b': 2, 'c': 3}
func(**kwargs)

# print(kwargs, a=1, b=2, c=3) # 로 입력이 되었다는 것을 확인

100 3 2 1

In [ ]:
# a=1, b=2, c=3 => **kwargs => {'a': 1, 'b': 2, 'c': 3}
def func(a=100, **kwargs):
    print(a, kwargs)

func(1000, i=1, j=2, k=3)

1000 {'i': 1, 'j': 2, 'k': 3}

In [ ]:
def func(*args):
    print(args)

func(10, 20, 30)
# 10, 20, 30 => *args => (10, 20, 30)

(10, 20, 30)

In [ ]:
def func(a, b, c):
    print(a, b, c)

args = (10, 20, 30)
func(*args)
# (10, 20, 30) => *args => 10, 20, 30

10 20 30

In [ ]:
a, b, c = range(3)
a

0

In [ ]:
a, b, c = range(10, 31, 10) # 어팩킹이 된다는건 손회를 돌았다는것이고 메모리 효율이 안좋다는 얘기
a

10

# 이터레이터와 제너레이터

## 이터레이터
---
* 값을 차례대로 꺼낼 수 있는 객체를 의미

In [ ]:
class MyIterator:
    def __init__(self, stop):
        self.current_value = 0  # 현재 값
        self.stop = stop  # 순회를 멈출 값

    def __iter__(self):
        return self

    def __next__(self):
        if self.current_value >= self.stop:
            raise StopIteration
        result = self.current_value
        self.current_value += 1
        return result

my_iterator = MyIterator(5)

for i in my_iterator:
    print(i)
'''
for를 만나면 __iter__가 실행이 되고, 반복이 시작되면 __next__를 호출
'''

0
1
2
3
4

'\nfor를 만나면 __iter__가 실행이 되고, 반복이 시작되면 __next__를 호출\n'

In [ ]:
class MyIterator:
    def __init__(self, stop):
        self.current_value = 0  # 현재 값
        self.stop = stop  # 순회를 멈출 값

    def __iter__(self):
        return self

    def __next__(self):
        if self.current_value >= self.stop:
            raise StopIteration
        result = self.current_value
        self.current_value += 1
        return result

my_iterator = MyIterator(5)

for i in my_iterator:
    print(i)

for i in my_iterator: # 위에서 이미 5가 되어서 출력이 안된다 zip 또 순회를 못하는 이유랑 같다.
    print(i)

0
1
2
3
4

In [ ]:
class MyIterator:
    def __init__(self, stop):
        self.stop = stop  # 순회를 멈출 값

    def __iter__(self):
        self.current_value = 0  # 현재 값
        return self

    def __next__(self):
        if self.current_value >= self.stop:
            raise StopIteration
        result = self.current_value
        self.current_value += 1
        return result

my_iterator = MyIterator(5)

for i in my_iterator:
    print(i)

for i in my_iterator:
    print(i)

0
1
2
3
4
0
1
2
3
4

In [ ]:
class MyIterator:
    def __init__(self, stop):
        self.stop = stop  # 순회를 멈출 값

    def __iter__(self):
        self.current_value = 0  # 현재 값
        return self

    def __next__(self):
        if self.current_value >= self.stop:
            raise StopIteration
        result = self.current_value
        self.current_value += 1
        return result

my_iterator = MyIterator(5)

i = iter(my_iterator) # 여기서부터
print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i)) # 여기까지가 for에 작동원리

0
1
2
3
4

StopIteration: ignored

In [ ]:
class MyIterator:
    def __init__(self, stop):
        self.stop = stop  # 순회를 멈출 값

    def __iter__(self):
        self.current_value = 0  # 현재 값
        return [10, 20, 30] # error

    def __next__(self):
        if self.current_value >= self.stop:
            raise StopIteration
        result = self.current_value
        self.current_value += 1
        return result

my_iterator = MyIterator(5)

for i in my_iterator:
    print(i)

## 제너레이터
---
* 제너레이터는 이터레이터를 생성해주는 함수 yield 키워드를 사용하여 함수 실행 중간에 값을 반환할 수 있고, 이후에 함수의 실행을 계속할 수 있는 특징

* 메모리를 효율적으로 관리하며, 코드의 가독성을 향상

In [ ]:
def my_generator(data):
    for i in data:
        yield i

my_list = [1, 2, 3, 4, 5]
my_iterator = my_generator(my_list)

for i in my_iterator: # my_iterator는 함수의 return값이어야 하는데?
    print(i)

1
2
3
4
5

In [ ]:
def my_generator(data):
    for i in data:
        yield i * 10

for i in my_generator([1, 2, 3]):
    print(i)

10
20
30

In [ ]:
def my_generator():
    x = 10
    yield x
    x = 20
    yield x
    x = 30
    yield x
    return
    x = 40
    yield x

for i in my_generator():
    print(i)

In [ ]:
# 이럴 떄 많이 사용

def my_generator():
    l = ['짝', '홀']
    t = False
    while True:
        if t == False:
            yield l[t]
            t = True
        else:
            yield l[t]
            t = False

list(zip([0, 1, 2, 3, 4, 5, 6], my_generator()))

[(0, '짝'), (1, '홀'), (2, '짝'), (3, '홀'), (4, '짝'), (5, '홀'), (6, '짝')]

In [ ]:
l = ['짝', '홀']
l[True]

'홀'

In [ ]:
# 위의 코드식을 간결화
def my_generator():
    l = ['짝', '홀']
    t = False
    while True:
        yield l[t := False]
        yield l[t := True]

list(zip([0, 1, 2, 3, 4, 5, 6], my_generator()))

[(0, '짝'), (1, '홀'), (2, '짝'), (3, '홀'), (4, '짝'), (5, '홀'), (6, '짝')]

In [ ]:
def my_generator():
    count = 0
    while True:
        yield count
        count += 1

list(zip(['A', 'B', 'C'], my_generator()))

[('A', 0), ('B', 1), ('C', 2)]

In [ ]:
def my_generator():
    count = 0
    while True:
        yield count
        count += 2

list(zip([1, 2, 3, 4, 5, 6, 7, 8, 9], 'hello world', my_generator())) # 마치 enumerate처럼

[(1, 'h', 0),
 (2, 'e', 2),
 (3, 'l', 4),
 (4, 'l', 6),
 (5, 'o', 8),
 (6, ' ', 10),
 (7, 'w', 12),
 (8, 'o', 14),
 (9, 'r', 16)]

In [ ]:
def my_generator():
    count = 0
    while True:
        yield count
        count += 2

print(list(zip(['A', 'B', 'C'], my_generator())))
print(list(zip(['A', 'B', 'C'], my_generator())))
# 여기서는 6을 호출해야 하지 않을까요? 왜 다시 초기화가 되었죠?

[('A', 0), ('B', 2), ('C', 4)]
[('A', 0), ('B', 2), ('C', 4)]

In [ ]:
gen = (i for i in range(1, 6, 2))
for i in gen:
    print(i)

1
3
5
7
9

# 연습문제

## 문제 1
* 회전초밥에 아래처럼 나온다.<br>
[['광어초밥', 1000], ['연어초밥', 2000], ['계란초밥', 3000]]<br>
---
각 초밥은 몇 개 나올지 알 수 없다.<br>
각 초박은 1000원씩 비싸진다.<br>
초밥에서 '어'가 나오는 초밥만 먹는다.

---
* 내가 먹은 초밥의 비용을 계산 하는 코드 작성

def solution(data):
    pass

solution([['광어초밥', 1000], ['연어초밥', 2000], ['계란초밥', 3000], ['문어초밥', 4000], ['장어초밥', 5000]])

In [ ]:
def gen(data):
    for name, price in data:
        if '어' in name:
            yield price

def solution(data):
    return sum(gen(data))

solution([['광어초밥', 1000], ['연어초밥', 2000], ['계란초밥', 3000], ['문어초밥', 4000], ['장어초밥', 5000]])

12000

In [ ]:
# 풀이
def gen(data):
    for name, price in data:
        if '어' in name:
            yield price

def solution(data):
    return sum(gen(data))

solution([['광어초밥', 1000], ['연어초밥', 2000], ['계란초밥', 3000], ['문어초밥', 4000], ['장어초밥', 5000]])

12000

In [ ]:
# 다른 풀이
def solution(data):
    total_cost = 0
    for item in data:
        if '어' in item[0]:
            total_cost += item[1]
    return total_cost

print(solution([['광어초밥', 1000], ['연어초밥', 2000], ['계란초밥', 3000], ['문어초밥', 4000], ['장어초밥', 5000]]))

12000

# nonlocal

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        nonlocal x
        x += 1
        print(x) # 출력 2
    inner()
    print(x) # 출력 2

outer()
print(x) # 출력 100

2
2
100

In [ ]:
# 글로벌로 했을때
x = 100
def outer():
    x = 1
    def inner():
        global x
        x += 1
        print(x) # 출력 101
    inner()
    print(x) # 출력 1

outer()
print(x) # 출력 101

101
1
101

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        x += 1  # error
        print(x) # 출력: 2
    inner()
    print(x) # 출력: 2

outer()
print(x) # 출력: 100

# zip이 사라지는 이유

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

z = zip(a, b)
print(list(z)) # [(1, 'a'), (2, 'b'), (3, 'c')]

# zip 객체는 한 번 사용되었으므로 빈 리스트가 반환됩니다.
print(list(z)) # []

[(1, 'a'), (2, 'b'), (3, 'c')]
[]

In [ ]:
# iter에서 왜 초기화 해주지 않았을까요?
a = [1, 2, 3]
b = ['a', 'b', 'c']

z = zip(a, b)
print(list(z)) # [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
[1, 2, 3] == [1, 2, 3] # python은 사용자 편의성이 우선적으로 개발하기에 이런게 가능

True

In [ ]:
# sorted는 재순환이 되기에 메모리 소비가 어마어마 해지게 된다.
x = [1, 2, 3]
y = sorted(x)

for i in y:
    print(i)

for i in y:
    print(i)

y # 심지어 리스트로 나옵니다!? zip, map 너무 차별하는 것 아닐까요?

1
2
3
1
2
3

[1, 2, 3]

In [ ]:
x = [1, 2, 3]
y = reversed(x)

for i in y:
    print(i)

for i in y:
    print(i)

y
# sorted와 다르게 reversed는 한번만 출력한다.
# 반환되는 값도 리스트로 주지 않았습니다.

3
2
1

In [ ]:
sorted(range(20)) # 메모리 부하가 큰 작업이다. 실행금지 renge(값) 값이 커지면 커질수록 큰일난다. 디도스 공격의 원리

In [ ]:
range(200000)

range(0, 200000)

In [ ]:
reversed(range(200000))

# 과제

## 문제1
* 다음과 같이 동작하는 제너레이터 함수 fibonacci(n)를 완성하세요.
 주어진 숫자 n까지의 피보나치 수열을 반환합니다.
 인터넷에서 피보나치 순열 Python 코드를 검색해보셔도 좋습니다.

---
def fib(n):
    pass

for i in fib(5):
    print(i)

'''
출력
1
1
2
3
5
'''

In [ ]:
# 문제1
def fib(n):
    a, b = 0, 1
    while n > 0:
        yield b
        a, b = b, a + b
        n -= 1

for i in fib(5):
    print(i)

1
1
2
3
5

In [ ]:
# 풀이
def fib(n):
    pre = 1
    next = 1
    count = 0
    while True:
        temp = pre + next
        yield pre
        pre, next = next, temp
        count += 1
        if count == n:
            break

for i in fib(5):
    print(i)

1
1
2
3
5

In [ ]:
# value swap
# pre, next = next, temp
'''
# 다른언어
temp = a
a = b
b = temp
'''
# 파이썬
a, b = b, a

## 문제2
* 문제 1번에서 주어진 함수의 실행 시간을 측정하여 출력하는 데코레이터 time_it를 작성하세요.
* (힌트: time 모듈의 time() 함수를 사용하세요.)

In [ ]:
# 문제2
import time

start = time.time()

def fib(n):
    a, b = 0, 1
    while n > 0:
        yield b
        a, b = b, a + b
        n -= 1

for i in fib(5):
    print(i)

end = time.time()

print(f'걸린시간 ({end - start})')

 0.0
1
1
2
3
5

In [ ]:
# 문제2 참조1
# 동적 데코레이터를 쓰지 않는 이유
# 같은 함수인데도 출력하는 시간의 차가 많이 난다.
# time_it 함수를 순회를 하고서 fib함수를 돌리기에 위의 측정 시간보다 많이 차이난다.
import time

def  time_it(func):
    def wrapper(*args):
        start_time = time.time()
        result = func(*args)
        end_time = time.time()

        print(f'{func.__name__}함수 걸린시간: {end_time - start_time} 초')

        return result

    return wrapper

@time_it
def fib(n):
    a, b = 0, 1
    while n > 0:
        yield b
        a, b = b, a + b
        n -= 1

for i in fib(5):
    print(i)

fib함수 걸린시간: 1.9073486328125e-06 초
1
1
2
3
5

In [ ]:
# 문제2 참조2
import math
import time

start = time.time()
math.factorial(100000)
end = time.time()

print(f'{end - start: .1f}')

 0.2

In [ ]:
# 풀이
import time

def time_it(func):
    def wrapper():
        start_time = time.time()
        func()
        end_time = time.time()
        print(f"{end_time - start_time:.4f}s")
    return wrapper

@time_it
def main():
    def fib(n):
        pre = 1
        next = 1
        count = 0
        while True:
            temp = pre + next
            yield pre
            pre, next = next, temp
            count += 1
            if count == n:
                break

    for i in fib(20):
        print(i)

main()

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
0.0003s

# 구글 주석 요강

In [ ]:
def fetch_smalltable_rows(
    table_handle: smalltable.Table,
    keys: Sequence[bytes | str],
    require_all_keys: bool = False,
) -> Mapping[bytes, tuple[str, ...]]:
    """Fetches rows from a Smalltable. <- 함수 주제

    Retrieves rows pertaining to the given keys from the Table instance
    represented by table_handle.  String keys will be UTF-8 encoded.
    # 함수에 대한 기능 설명

    Args:
        table_handle: An open smalltable.Table instance.
        keys: A sequence of strings representing the key of each table
          row to fetch.  String keys will be UTF-8 encoded.
        require_all_keys: If True only rows with values set for all keys will be
          returned.
    # args 아규먼트에 대한 설명

    Returns:
        A dict mapping keys to the corresponding table row data
        fetched. Each row is represented as a tuple of strings. For
        example:

        {b'Serak': ('Rigel VII', 'Preparer'),
         b'Zim': ('Irk', 'Invader'),
         b'Lrrr': ('Omicron Persei 8', 'Emperor')}

        Returned keys are always bytes.  If a key from the keys argument is
        missing from the dictionary, then that row was not found in the
        table (and require_all_keys must have been False).
    # 리턴값 출력목록과 그에 대한 설멸

    Raises:
        IOError: An error occurred accessing the smalltable.
    # 나올수 있는 에러
    """

In [ ]:
# 함수주석은 왠만하면 함수 밑에다가 해주는게 좋다.
def greet(name):
    '''
    인사를 하는 함수입니다.

    이 함수는 name 인자로 받아 name과 함께 인사를 하는 함수입니다~~

    Args:
        a(str): 블라블라
        b(int): 블라블라

    Returns:
        리턴은 이런식입니다.
        example: [1, 2, 3]

    Raises:
        IOError: 애러 블라블라
    '''
    return f'Hello, {name}'

greet(10)

# Python 버전별 문법

## Python 3.5

In [ ]:
x = {"key1": "value1"}
y = {"key2": "value2"}
z = {**x, **y}
z

{'key1': 'value1', 'key2': 'value2'}

## Python 3.6

* 변수 타입 힌트

In [ ]:
def greet(name: str) -> str:
    return f"Hello, {name}"

* f-string

In [ ]:
name = "Alice"
print(f"Hello, {name}")

## Python 3.7

* @dataclass

In [ ]:
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

## Python 3.8

* 왈러스 연산자

In [ ]:
(x := 10) * 3

## Python 3.9

* 딕셔너리 결합 연산자

In [ ]:
x = {"key1": "value1"}
y = {"key2": "value2"}
z = x | y
z

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
# {"key1": "value1"} + {"key2": "value2"} # TypeError
# {"key1": "value1"}.append({"key2": "value2"}) # error
x = {"key1": "value1"}
x.update({"key2": "value2"})
x
# 딕셔너리 추가는 update로 가능하다 (+, append는 아니다.)

{'key1': 'value1', 'key2': 'value2'}

## Python 3.10

* 구조적 패턴 매칭(structural pattern matching)

In [ ]:
# 간단한 버전
str_test = "good"

match str_test:
	case "happy":
		print("happy")

	case "good":
		print("good")
# 위 함수 내 코드는 탭이 두번 되어 있는거라 다른곳으로 복사해서 하면 오류가 난다
# 확인법 : 컨트롤 + a 를 눌려서 화살표 두개로 나오면 더블 탭(이거 고치지 않으면 난리남)

# 해결법 : 수정할 코드을 지정하고서 컨트롤 + []

good

# 파일 입출력

* 메모리, 용량, 트래픽 다 비용이라서 줄이는게 맞지만 그건 대규모일때 얘기이다.

In [ ]:
# open(파일이름, 파일모드)
f = open('python.txt', 'w')
# 파일모드 :
# r(읽기),
# w(쓰기, 파일이 없으면 생성, 내용이 있어도 w모드면 덮어씀),
# a(추가)
f.close()

In [ ]:
# 'r+': 읽기/쓰기 모드입니다. 단, 기존의 데이터를 덮어씌우지 않고 그 위에 덮어씌웁니다.
# 'w+': 읽고 씀(overwriting). 기존의 데이터를 삭제하고 처음부터 작성합니다.
# 'a+': 파일 끝에 추가하며(append), 필요시 어디서든 읽을 수 있습니다.

In [ ]:
f = open('python.txt', 'w')
s = ''
for i in range(1, 6):
	s += f'{i}명 참여 중입니다.\n'
f.write(s[:-1])
f.close()

## 파일 읽기

In [ ]:
f = open('python.txt', 'r')
while True:
    line = f.readline()
    if not line:
        break
    print(line) # print에 개행 출력에 개행이 되어 출력에 이중 개행이 된다.
f.close()

1명 참여 중입니다.

2명 참여 중입니다.

3명 참여 중입니다.

4명 참여 중입니다.

5명 참여 중입니다.

* readlines( )

In [ ]:
f = open('python.txt', 'r')
lines = f.readlines()
# for line in lines:
#     print(line)
print(line)
f.close()

* read()

In [ ]:
f = open('python.txt', 'r')
data = f.read()
print(data)
f.close()

1명 참여 중입니다.
2명 참여 중입니다.
3명 참여 중입니다.
4명 참여 중입니다.
5명 참여 중입니다.

In [ ]:
data # 리스트로 출력

'1명 참여 중입니다.\n2명 참여 중입니다.\n3명 참여 중입니다.\n4명 참여 중입니다.\n5명 참여 중입니다.'

In [ ]:
f = open('python.txt', 'r')
lines = f.readlines()
for line in lines:
	print(line, end='') # end='' 개행출력 안함
f.close()

1명 참여 중입니다.
2명 참여 중입니다.
3명 참여 중입니다.
4명 참여 중입니다.
5명 참여 중입니다.

In [ ]:
# 쉬운예제
f = open('python.html', 'w')
s = '''<html>
<head>
</head>
<body>
<h1>hello world</h1>
</body>
</html>
'''
f.write(s)
f.close()

In [ ]:
# 쉬운예제1
# 코랩에서 잘 읽지만 윈도우에서 깨진다.
f = open('python1.csv', 'w') # excel로 바로 열면 글자가 깨지니까 'w'뒤에 인코딩을 해줘야 한다.
s = '''제목, 평점, 이미지, 줄거리
무빙,5.0,img,줄거리
무빙,5.0,img,줄거리
무빙,5.0,img,줄거리
'''
f.write(s)
f.close()

In [ ]:
# 윈도우에선 잘 읽지만 코랩에서 깨진다.
f = open('python1.csv', 'w', encoding='cp949') # windows 인코딩
s = '''제목, 평점, 이미지, 줄거리
무빙,5.0,img,줄거리
무빙,5.0,img,줄거리
무빙,5.0,img,줄거리
'''
f.write(s)
f.close()

In [ ]:
# 어려운 예제
# Django의 동작원리와 관련있다.

import requests
from bs4 import BeautifulSoup

paullab_url = 'http://paullab.co.kr/bookservice/'
response = requests.get(paullab_url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

bookservices = soup.select('.col-lg-6 > h2') # col-lg-6 클래스 안의 h2 태그 탐색
for no, book in enumerate(bookservices, 1):
    print(no, book.text)


# 이미지 양식: https://paullab.co.kr/bookservice/img/notion.jpg
f = open('python.html', 'w')
s = '''<html>
<head>
</head>
<body>
<section>
<h2>제목</h2>
<img src=''>
</section>
</body>
</html>
'''
f.write(s)
f.close()

1 메모혁신 Notion(노션) 활용 가이드
2 제주코딩베이스캠프 Code Festival: Python 100제 1부
3 튜토리얼로 배우는 HTML&CSS
4 코딩도장 튜토리얼로 배우는 Python 1편 object
5 코딩도장 튜토리얼로 배우는 python 2편 제어문
6 코딩도장 튜토리얼로 배우는 Python 문제풀이
7 타노스의 건틀릿 알고리즘 With Python
8 xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍
9 러플 튜토리얼로 배우는 Python
10 인공지능을 활용한 업무자동화 With Google Developers Group JEJU
11 2017 제주 코딩 해커톤 Django 트랙 상편 1권

In [ ]:
# 어려운 예제
# django의 동작원리와도 관련이 있습니다.
import requests
from bs4 import BeautifulSoup

paullab_url = 'http://paullab.co.kr/bookservice/'
response = requests.get(paullab_url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

bookservices = soup.select('.col-lg-6 > h2')     # col-lg-6 클래스 안의 h2 태그 탐색
contents = ''

for no, (book, img) in enumerate(zip(bookservices, soup.select('img')[2:]), 1):
    contents += f'''
                <section>
                <h2>{no}. {book.text}</h2>
                <img src='https://paullab.co.kr/bookservice/{img["src"]}'>
                </section>
                '''

# 이미지 양식: https://paullab.co.kr/bookservice/img/notion.jpg
f = open('python.html', 'w')
s = f'''<html>
<head>
</head>
<body>
{contents}
</body>
</html>
'''
f.write(s)
f.close()

In [ ]:
for i in soup.select('img')[2:]:
    print(i['src'])

img/notion.jpg
img/cofe.jpg
img/HTMLCSS.jpg
img/python1.jpg
img/python2.jpg
img/python3.jpg
img/tanos.jpg
img/xlsx.jpg
img/ruple.jpg
img/auto.jpg
img/django.jpg

## 내용 수정

In [ ]:
f = open('python.txt', 'a')
s = ''
for i in range(6, 11):
    s += f'{i}명 참여 중입니다. \n'
f.write(s)
f.close()

## 파일 열기과 닫기를 동시에

In [ ]:
with open('test.txt', 'w') as f:
    f.write('Life is too short, you need python')

---

In [ ]:
f = open('python.txt', 'a+') # 파일 끝에 추가하며(append), 필요시 어디서든 읽을 수 있습니다.
lines = f.readlines()
for line in lines:
    print(line, end='')
f.close()

In [ ]:
f = open('python.txt', 'w+') # 읽고 씀(overwriting). 기존의 데이터를 삭제하고 처음부터 작성합니다.
lines = f.readlines()
for line in lines:
    print(line, end='')
f.close()

In [ ]:
f = open('python.txt', 'r+') # 읽기/쓰기 모드입니다. 단, 기존의 데이터를 덮어씌우지 않고 그 위에 덮어씌웁니다.
lines = f.readlines()
for line in lines:
    print(line, end='')
f.close()

In [ ]:
f = open('python.txt', 'r+') # 포인터가 처음
print(f.read())
f.close()

In [ ]:
f = open('python.txt', 'a+') # 포인터가 끝
print(f.read())
f.close()

In [ ]:
f = open('python.txt', 'r+') # 읽기 쓰기(기존에 있던 내용을 읽을 수 있고, 최종적으로는 덮어씀)
# f.seek(0)  # 파일의 시작 위치로 이동, r모드는 이렇게 하지 않아도 포인터가 맨 앞으로 가 있습니다.
print(f.read())
f.write('\nr+모드입니다!\n')
print('-----')
f.seek(0)  # 파일의 시작 위치로 이동, 주석처리 해보세요.
print(f.read())
f.close()

In [ ]:
f = open('python.txt', 'w+') # 읽기 쓰기(기존에 있던 내용은 덮어쓰기)
f.seek(0)
print(f.read())
f.write('\nw+모드\n') # 그냥 덮어 써버림
f.seek(0) # 쓴 내용을 읽을 수는 있음!
print(f.read())
f.close()
# 차이:
# r+ 모드는 파일을 열 때 기존의 내용을 보존
# w+ 모드는 파일을 열 때 기존의 내용을 삭제

In [ ]:
f = open('python.txt', 'a+') # 읽기, 없으면 파일추가
f.seek(0)
print(f.read())
f.write('\na+모드\n') # 그냥 덮어 써버림
f.seek(0)
print(f.read())
f.close()
# r+모드와 차이: 파일 포인터가 r+는 파일의 시작 부분, a+는 끝 부분

# 비트연산

In [ ]:
5 & 12 # bit and 연산

#이진법
# 00000101 # 4 + 1
# 00001100 # 8 + 4
# ---------
# 00000100 == 4

4

In [ ]:
5 | 12 # bit and 연산

#이진법
# 00000101 # 4 + 1
# 00001100 # 8 + 4
# ---------
# 00001101 == 13

13

## 쉬프트연산

In [ ]:
7 << 2
# 00000111
# 00011100(16 + 8 + 4)

28

In [ ]:
16 >> 2

# 00010000
# 00000100

4

## 보수

In [ ]:
~0 # 2의 보수 (보수를 취하려는 숫자에서 +1 후에 음수로 바꾸면 된다.)

-1

In [ ]:
~5

-6

In [ ]:
~~5 # (-6) => -(-6 + 1) =>  5

5

In [ ]:
# ~~3.14 파이썬에선 안되지만 자바스크립트에선 3으로 출력 그래서 자바스크립트에선 많이 사용된다.

# f-string 문법

In [ ]:
# 중괄호가 2개씩 증가할 때마다 출력은 1개씩 증가
value = 'hello'
print(f'{value}') # 중괄호 x
print(f'{{value}}') # 중괄호 1
print(f'{{{value}}}') # 중괄호 1
print(f'{{{{value}}}}') # 중괄호 2
print(f'{{{{{value}}}}}') # 중괄호 2
print(f'{{{{{{value}}}}}}') # 중괄호 3

hello
{value}
{hello}
{{value}}
{{hello}}
{{{value}}}

In [ ]:
# 포맷팅 지정자는 {변수이름: 포멧팅_양식}으로 이루어진다.
num = 3.14159
print(f"{num:.2f}")  # 출력: 3.14

name = "Alice"
print(f"{name:>10}")  # 출력:      Alice # 포맷팅 지정자, format 용법과 동일

3.14
     Alice

In [ ]:
value = 'hello'
# print(f'{value + 'world'}') # error = SyntaxError
# print(f'{value + \" world"\}') # 이스케이프 문자는 허용치 않는다.
# print(f'{10 + 10}') # 되긴 하지만 중괄호 안에서의 연산은 지향한다.

print(f'{value + "world"}')
print(f'{value + " world"}')

helloworld
hello world

In [ ]:
a = 10
b = 20

# case1
two_numbers_mul = a * b # 굳이 변수 1개를 더 생성할 필요가 있을까?
print(f'{two_numbers_mul}')

# case2
print(f'{a * b}') # 간단하니까 이걸로 사용하자!
# 코드가 복잡해지면 가독성에서 차이가 납니다.

200
200

In [ ]:
a = 10
b = 20

# case 1
two_numbers_mul = a * b # 굳이 변수 1개를 더 생성할 필요가 있나?
two_numbers_add = a + b # 굳이 변수 1개를 더 생성할 필요가 있나?
two_numbers_add = two_numbers_mul * two_numbers_add
print(f'{two_numbers_mul * two_numbers_add}') # 이 변수명을 보고 의도가 파악이 된다.

# case2
print(f'{a * b}') # 이 값이 무엇을 의미하는지 모릅니다.
# 코드가 복잡해지면 가독성에서 차이가 납니다.

1200000
200

In [ ]:
# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '.format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

print('나의 이름은 {0:.5f}입니다'.format(3.141592)) # 포맷팅 연산자 {0:.2f} 파이썬에서 반올림을 자동으로 해준다
print('나의 이름은 {0:>20}입니다'.format(3.141592)) # 포맷팅 연산자 {0:<20}

나의 이름은 한사람입니다
나의 이름은 한사람입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------
나의 이름은 3.14159입니다
나의 이름은             3.141592입니다

In [ ]:
# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

볼펜 2개의 길이는 10.686cm 입니다.
볼펜 2개의 길이는 10.7cm 입니다.

## format 길이와 정렬

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good')) # 중앙정렬
print('Python is [{:-^15}]'.format('good')) # 중앙정렬 하고 -표식
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:^15}]세'.format(22))
print('-' * 40)

Python is [good           ]
Python is [good           ]
Python is [           good]
Python is [     good      ]
Python is [-----good------]
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
당신의 나이는 [             22]세
당신의 나이는 [      22       ]세
----------------------------------------

In [ ]:
print('[{:15}]'.format('10')) # 양식 같음, 자료형만 다름
print('[{:15}]'.format(10))   # 양식 같음, 자료형만 다름

[10             ]
[             10]

## f-string 길이와 정렬

In [ ]:
char_a = '5'
int_a = 5
sample = 1234567890

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{sample:>5}') # >는 오른쪽정렬
print(f'{char_a:>5}') # >는 오른쪽정렬
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}')# <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

1234567890
1234567890
    5
5
  5
50000
   5.00

In [ ]:
int_a = 5
print(f'{int_a:0<5}') # <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:0>5}') # <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음

'12345'.zfill(10)

50000
00005

'0000012345'

# 복습문제

##문제1: 1 ~ 9 까지 더하는 프로그램

In [ ]:
# for 문
def add():
    x = 0
    for i in range(1, 10):
        x += i
    return x

print(add())

45

In [ ]:
# if 문
def add():
    x = 0
    y = 1
    while y < 10:
        if y >= 1:
            x += y
        y += 1
    return x

print(add())

45

In [ ]:
# 참조
def sum_1_to_9():
    total = 0
    i = 1
    while i < 10:
        if i >= 1:
            total += i
        i += 1
    return total

print(sum_1_to_9())

45

In [ ]:
# 참조
def sum_1_to_9():
    total = 0
    for i in range(1, 10):
        total += i
    return total

print(sum_1_to_9())

45

##문제2: 1 ~ 9 까지 홀수의 합

In [ ]:
def add_a():
    s = 0
    for i in range(10):
        if i % 2 == 1:
            s += i
        i += 1
    return s

print(add_a())
# sum(range(1, 10, 2))

25

##문제3: 1000 미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하는 프로그램을 작성

In [ ]:
# 참조
def sum_of_multiples():
    total = 0
    for i in range(1, 1000):
        if i % 3 == 0 or i % 5 == 0:
            total += i
    return total

print(sum_of_multiples())

233168

In [ ]:
x = sum(i for i in range(1,1000) if i % 3 == 0 or i % 5 == 0)
y = sum(i for i in range(1,1000) if i % 15 == 0)
print(x)
print(x - y)

233168
200003

## 풀이

### 문제 1

In [ ]:
sum(list(range(10))) # list로 형변환 하는 것은 데이터가 클수록 부하가 큽니다.
sum([i for i in range(1, 10)]) # 일반 list로 형변환 하는 것보다는 빠르지만 이것도 역시나 부하가 있습니다.
sum(range(1, 10))
(9 * (1 + 9)) / 2

45.0

### 문제 2

In [ ]:
sum([i for i in range(1, 10, 2)])
sum([i for i in range(10) if i % 2 == 1])
sum(filter(lambda x:x%2==1, range(10)))
sum(range(1, 10, 2))
s = 0
for i in range(10):
    if i % 2 == 1:
        s += i
    i += 1

i = 1
summary = 0

while i <= 9:
	if i % 2 == 1:
		summary += i
	i += 1

summary

25

### 문제 3

In [ ]:
sum(range(0, 1000, 3)) + sum(range(0, 1000, 5)) - sum(range(0, 1000, 15))
s = 0
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        s += i
s

233168

### 문제 4

리스트 컴프리헨션 응용 문제

* 아래 메트릭스를 모두 더해주세요.

* m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

sum(sum(m, []))

45

In [ ]:
sum([1, 2, 3], 100)
sum([[1, 2, 3], [4, 5, 6], [7, 8, 9]], [])
# [1, 2, 3] + [] == [1, 2, 3]
# [4, 5, 6] + [1, 2, 3] == [4, 5, 6, 1, 2, 3]
# [7, 8, 9] + [4, 5, 6, 1, 2, 3] == [7, 8, 9, 4, 5, 6, 1, 2, 3]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
import numpy as np
# 수학수식에서 막강한 성능
# 수학수식 관련해서 파이썬보다 훨씬 빠르고 기능도 많다.
np.sum([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

45

### 문제 5

In [ ]:
import collections

s = "Hello, World! This is a sample string for testing purposes."
# 방법1
# s = s.replace(',', '').replace('!', '').replace('.', '').replace(' ', '')

# 방법2
# table = str.maketrans(',!.', '   ')
# s = s.translate(table).replace(' ', '')

# 방법3
table = str.maketrans('', '', ',!. ')
s = s.translate(table)

c = collections.Counter(s)
c.most_common

In [ ]:
d = {}
s = "Hello, World! This is a sample string for testing purposes."
s = s.replace(',', '').replace('!', '').replace('.', '').replace(' ', '')

# 풀이 1 순회를 돌면서 dict에 있으면 += 1 , 없으면 =1 대입하여 푼다
for i in s:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
d
# 풀이 2 set으로 만들어서 count한다.
s = "Hello, World! This is a sample string for testing purposes."
for i in set(s):
    d[i] = s.count(i)
d

{'H': 1,
 'e': 4,
 'l': 4,
 'o': 4,
 'W': 1,
 'r': 4,
 'd': 1,
 'T': 1,
 'h': 1,
 'i': 4,
 's': 7,
 'a': 2,
 'm': 1,
 'p': 3,
 't': 3,
 'n': 2,
 'g': 2,
 'f': 1,
 'u': 1,
 ' ': 9,
 '!': 1,
 '.': 1,
 ',': 1}

### 문제 6
* 트리 만들기  (중첩 for 반복문)
* 정삼각형 * 트리 만들기

In [ ]:
for i in range(1, 10):
    print(f"{'  '}{'*' * ((2 * i) - 1):^18}")

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

In [ ]:
# 역삼각형
for i in reversed(range(1, 10)):
    print(f"{'  '}{'*' * ((2 * i) - 1):^18}")

  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

In [ ]:
for i in range(1, 10):
    print(f"{' ' * (10 - i + 1)}{'*' * ((2 * i) - 1)}")

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

In [ ]:
# 풀이
for i in range(1, 10):
    print((' ' * (10 - i + 1)) + ('*' * (2 * i - 1)))

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

In [ ]:
data = 18
for i in range(1, 10):
    print(f"{'*' * ((2 * i) - 1):^{data}}")

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

### 문제 7

* 클래스 연습문제

---
* 다음 자료구조 클래스를 만들어주세요.
* 데이터는 <1, 2, 3, 4> 형식으로 숫자만 저장됩니다.
* print()를 하면 <1, 2, 3, 4>와 같이 출력이 되어야 합니다.
* 메서드는 append, remove가 있습니다.
* 아래 연산은 길이가 다르면 error가 납니다.
* <1, 2, 3, 4> + <1, 2, 3 ,4> == <2, 4, 6, 8>와 같이 같은 순서에 요소를 더합니다.
* <1, 2, 3, 4> - <1, 2, 1 ,2> == <0, 0, 2, 2>와 같이 같은 순서에 요소를 뺍니다.
* <1, 2, 3, 4> * 3 == <3, 6, 9, 12>가 됩니다.
* 나누기는 지원하지 않습니다.
* <1, 2, 3, 4> + <1, 2, 3 ,4> == <2, 4, 6, 8>와 같이 같은 순서에 요소를 더합니다.
* <1, 2, 3, 4> * 3 == <3, 6, 9, 12>가 됩니다.


```
class OperList:
    pass

l = OperList(1, 2, 3, 4)
l.append(5)
print(l + l) # 출력: <2, 4, 6, 8, 10>
```

In [ ]:
class OperList:
    def __init__(self, *args):
        self.__operlist = list(args)

    def __add__(self, other):
        if len(self.__operlist) != len(other.__operlist):
            raise ValueError("리스트의 길이가 같지 않으면 출력이 안된다.")
        result_list = []
        for i in range(len(self.__operlist)):
            result_list.append(self.__operlist[i] + other.__operlist[i])
        return OperList(*result_list)

    def __sub__(self, other):
        if len(self.__operlist) != len(other.__operlist):
            raise ValueError("리스트의 길이가 같지 않으면 출력이 안된다.")
        for i in range(len(self.__operlist)):
            self.__operlist[i] -= other.__operlist[i]
        return self.__operlist

    def __mul__(self, other):
        if not isinstance(other, int):
            raise ValueError("리스트의 길이가 같지 않으면 출력이 안된다.")
        for i in range(len(self.__operlist)):
            self.__operlist[i] *= other
        return self.__operlist

    def __str__(self):
        return f"<{', '.join(map(str, self.__operlist))}>"

    def __repr__(self):
        return self.__str__()

    def append(self, data):
        self.__operlist.append(data)

    def remove(self, data):
        self.__operlist.remove(data)

l = OperList(1, 2, 3, 4)
print(l)
l.append(5)
print(l + l)  # 출력 <2, 4, 6, 8, 10>

<1, 2, 3, 4>
<2, 4, 6, 8, 10>

In [ ]:
# 풀이 1

class OperList:

    def __init__(self,*args):

        self.args = list(args)

    def append(self,num):

        self.args.append(num)
        return self.args

    def remove(self,num):

        self.args.remove(num)
        return self.args

    def __add__(self,other):

        if len(self.args) == len(other.args):
            result = []
            for i in range(len(self.args)):
                result.append(self.args[i] + other.args[i])
            return result
        else:
            raise Exception("자료의 길이가 같아야 합니다.")

    def __sub__(self,other):

        if len(self.args) == len(other.args):
            result = []
            for i in range(len(self.args)):
                result.append(self.args[i] - other.args[i])
            return result
        else:
            raise Exception("자료의 길이가 같아야 합니다.")

    def __mul__(self,other):

        if len(self.args) == len(other.args):
            result = []
            for i in range(len(self.args)):
                result.append(self.args[i] * other.args[i])
            return result
        else:
            raise Exception("자료의 길이가 같아야 합니다.")

l = OperList(1, 2, 3, 4)
l.append(5)
print(l + l) # 출력: <2, 4, 6, 8, 10>

[2, 4, 6, 8, 10]

In [ ]:
# 풀이 2

from IPython.core.completer import Iterable
class OperList:
    def __init__(self, *num):
       self._lst = list(num)

    def append(self, num):
        self._lst.append(num)

    def remove(self, num):
        try:
            self._lst.remove(num)
        except:
            raise ValueError("list에 해당 숫자가 없습니다")

    def __add__(self, other):
        if len(self._lst) != len(other._lst):
            raise ValueError("list의 길이가 맞지 않습니다")
        for i in range(len(self._lst)):
            self._lst[i] = self._lst[i] + other._lst[i]
        return self

    def __sub__(self, other):
        if len(self._lst) != len(other._lst):
            raise ValueError("list의 길이가 맞지 않습니다")
        for i in range(len(self._lst)):
            self._lst[i] = self._lst[i] - other._lst[i]
        return self

    def __mul__(self, other):
        if len(self._lst) != len(other._lst):
            raise ValueError("list의 길이가 맞지 않습니다")
        for i in range(len(self._lst)):
            self._lst[i] = self._lst[i] * other._lst[i]
        return self

    def __str__(self):
        return '<' + ', '.join(map(str, self._lst)) + '>'

l = OperList(1, 2, 3, 4)
l.append(5)
print(l + l) # 출력: <2, 4, 6, 8, 10>

<2, 4, 6, 8, 10>

In [ ]:
class OperList():
    _data = []

    def __init__(self, *args):
        for arg in args:
            self._data.append(arg)

    def __len__(self):
        return len(self._data)

    def __str__(self):
        return "<" + ",".join([str(x) for x in self._data]) + ">"

    def __add__(self, data):
        if type(data) is type(self) and len(self._data) == len(data):
            for i, x in enumerate(self._data):
                self._data[i] += data._data[i]

            return self.__str__()


    def append(self, data):
        self._data.append(data)

    def remove(self, data):
        self._data.remove(data)

l = OperList(1, 2, 3, 4)
l.append(5)

print(l + l) # 출력: <2, 4, 6, 8, 10>

<2,4,6,8,10>

In [ ]:
class OperList:

    def __init__(self, *args):
        self.list = [*args]
        if isinstance(self.list[0],list) and len(self) == 1:
            self.list = self.list[0]

    def __add__(self, other):
        if len(self) != len(other):
            raise TypeError('더하려는 리스트의 길이가 다릅니다.')
        try:
            addlist = []
            for i in range(len(self)):
                addlist.append(self.list[i] + other.list[i])
            return OperList(addlist)
        except:
            raise Exception('알 수 없는 오류가 발생했습니다.')

    def __sub__(self, other):
        if len(self) != len(other):
            raise TypeError('빼려는 리스트의 길이가 다릅니다.')
        try:
            addlist = []
            for i in range(len(self)):
                addlist.append(self.list[i] - other.list[i])
            return OperList(addlist)
        except:
            raise Exception('알 수 없는 오류가 발생했습니다.')

    def __mul__(self, other):
        if not isinstance(other, int):
            raise TypeError('곱하려는 변수가 정수가 아닙니다.')
        try:
            mullist = []
            for i in range(len(self)):
                mullist.append(self.list[i] * other)
            return OperList(mullist)
        except:
            raise Exception('알 수 없는 오류가 발생했습니다.')

    def __str__(self):
        return str(self.list).replace('[','<').replace(']','>')

    def __repr__(self):
        return str(self.list).replace('[','<').replace(']','>')

    def __len__(self):
        return len(self.list)

    def append(self, num):
        self.list.append(num)

    def remove(self, num):
        self.list.remove(num)

l = OperList(1, 2, 3, 4)
l.append(5)
print(l)
print(l + l) # 출력: <2, 4, 6, 8, 10>

<1, 2, 3, 4, 5>
<2, 4, 6, 8, 10>

# 과제

## 과제1


* student.csv에는 아래와 같은 텍스트가 담겨있습니다.

---

```
학년,반,번,이름,국어,영어,수학,사회
3,3,1,licat,90,80,30,40
3,3,2,mura,80,70,60,30
3,3,3,binky,30,80,70,30
```

---
* 학생들의 평균을 구해 아래와 같이 student.csv출력되게 해주세요.(xx이라 표기된 곳에 평균 값이 들어가야 합니다.)

---

```
학년,반,번,이름,국어,영어,수학,사회,평균
3,3,1,licat,90,80,30,40,xx
3,3,2,mura,80,70,60,30,xx
3,3,3,binky,30,80,70,30,xx
```

---

In [ ]:
f = open('student.csv', 'w') # excel로 바로 열면 글자가 깨지니까 'w'뒤에 인코딩을 해줘야 한다.
s = '''학년,반,번,이름,국어,영어,수학,사회
3,3,1,licat,90,80,30,40
3,3,2,mura,80,70,60,30
3,3,3,binky,30,80,70,30
'''
f.write(s)
f.close()

In [ ]:
# 풀이
s = ''
with open('student.csv', 'r') as f:
    lines = f.readlines()
    s += lines[0][:-1] + ',평균'
    for i in lines[1:]:
        data = i.split(',')
        s += f'\n{i.strip()},{sum(map(int, data[4:])) / 4}'

with open('student.csv', 'w') as f:
    f.write(s)